<template src='./mdsview.html'></template>

<script src='./mdsview.js'></script>

<style type="text/css" src='vue-range-slider/dist/vue-range-slider.css'></style>
<style lang="scss">

#mdsCanvas {
    height: 50vh;
    
    #mdsSvg {
        height: 100%;
        width: 100%;

        .mdscircle {
            fill-opacity: .3;

            &:hover{
                stroke: #000;
                stroke-width: 2;
                stroke-opacity: 1
            }
        };

        .highlightedMDS {
            stroke: #000;
            stroke-width: 2;
            stroke-opacity: 1
        }
    }
}
.range-slider {
    width: 100%;
    
    .range-slider-rail {
      width: 100%;
      background-color: #2196F3;
    }

    .range-slider-fill {
      background-color: #e2e2e2;
    }
}
.radio-btn-group {
  
    .radio {
        margin: 0 .25rem;
        width: 100%;
    
        label {
            background: #fff;
            border: 1px solid #ddd;
            padding: .5rem 1.25rem;
            border-radius: 5px;
            cursor: pointer;
            color: #444;
            transition: box-shadow 400ms ease;
            width: 100%;
            height: 40px;
            text-align: center;
            font-size: 16px;
          
            &:hover {
                box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
            }
        }
    
        input[type="radio"] {
            display: none;
        }
        
        .clicked+label{
            background: #2196F3;
            color: #fff;
            border-color: #2196F3;
        }
    }
}

</style>
