<div id="mdsview">
    <!-- Tab panes -->
    <div class="col-md-12">
        <div id="familySearch">
            <div class="input-group col-md-12">
                <input type="text" class="search-query form-control" placeholder="Search Name" id="searchContent" @keyup.enter="onSearch"></input>
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button" id="searchButton" @click="onSearch">Go</button>
                </span>
            </div>
        </div>
    </div>
</div>
