<template src='./App.html'></template>

<script>
import navbar from '../navbar/navbar.vue'
import mdsview from '../mdsview/mdsview.vue'
import tooltips from '../tooltips/tooltips.vue'
import tableview from '../tableview/tableview.vue'

export default {
    components: {
        navbar,
        mdsview,
        tableview,
        tooltips
    }
}
</script>


<style>
  @import "../../../node_modules/bootstrap/dist/css/bootstrap.css"
</style>

<style lang="scss">
$top: 950px;
@function getvh($target) { 
  $vh-context: (1000*.01) * 1px;
  @return 100vh - ($target/$vh-context) * 1vh;
}

html {
  height: 100%;
}

#footText {
  margin-top: 150px;
}

.content {
	height: getvh($top);
}

.nopadding {
  padding: 0px;
}
</style>
