<div id="app">
    <navbar></navbar>
    <div class="container" style="width:100%">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 content" id="mdsContainer">
                    <mdsview></mdsview>
                </div>
                <div class="col-md-12 nopadding" id="tableContainer">
                    <tableview></tableview>
                </div>
            </div>
            <tooltips></tooltips>
        </div>
        <br>
        <br>
        <footer class="footer" id="footText">
            <p class="text-muted">&copy; HKUST VIS group</p>
        </footer>
    </div>
</div>
